dgl==2.3.0+cu118
networkx==3.2.1
numpy==1.26.3
scikit-learn==1.5.1
scipy==1.14.0
setuptools==59.6.0
torch==2.3.1+cu118
torch_geometric==2.5.3
torch_scatter==2.1.2+pt23cu118
torch_sparse==0.6.18+pt23cu118
torch_spline_conv==1.2.2+pt23cu118
pandas==2.2.2
